/* index 파일에만 존재하는 디자인 */
/* 고정 페이지 위치 */
#wrap main .main_pst_link {
    position: fixed; z-index: 80;
    right:63px; top: 310px;
    display: flex; flex-flow: column nowrap;
    align-items: flex-end; gap: 20px;
}
#wrap main .main_pst_link a {
    display: flex; flex-flow: row nowrap; gap: 10px;
}
#wrap main .main_pst_link a span {}
#wrap main .main_pst_link a .name {
    font-size: var(--text-sub10);
    display: none;
}
#wrap main .main_pst_link a .circle {
    display: block; width: 10px; height: 10px;
    background-color: #fff; border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.35);
}
/* 첫번재 circle 활성화 디자인 */
#wrap main .main_pst_link a:first-child .circle {background-color:var(--color-point);}
/* 마우스 올릴 시 활성화 디자인 */
/* 1. 글자 숨기기 */
/* 2. circle 마우스 올리면(a) */
#wrap main .main_pst_link a:hover .circle {background-color: #000;}
#wrap main .main_pst_link a:hover .name {display: inline-block;}
/* 2-1. circle 검은색 변경 */
/* 2-2. 글자 보이기 */
/* 1행 시작 */
#wrap main .visual_wrap {
    width: 100vw; overflow: hidden;
}
#wrap main .visual_wrap .visual_bnr_wrap {
    /* section 정렬을 위한 부모대상 flex 설정 */
    display: flex;/* 필수! */
    flex-flow: row nowrap;
    width: max-content;/* 자식의 전체너비만큼 */
    transform: translateX(0);
}
/* 공통 */
#wrap main .visual_wrap .visual_bnr_wrap section {
    background-size: cover;
    height: 725px; width: 1920px;
    /* padding: 465px 0 0 80px; */
    position: relative;/* absolute 걸린 자식의 부모 기준 설정 */
}
#wrap main .visual_wrap .visual_bnr_wrap section h2 {
    font-size: var(--text-title70);
    font-weight: var(--weight-bold);
    line-height: var(--line-title);
    letter-spacing: var(--letter-minus2);
    position: absolute; left: 80px; bottom: 134px;
}
#wrap main .visual_wrap .visual_bnr_wrap section p {
    font-size: var(--text-contents21);
    line-height: var(--line-contents);
    letter-spacing: var(--letter-minus2);
    color: var(--color-gray4);
    position: absolute; left: 80px; bottom: 30px;
}
/* --------------------1 배너 */
#wrap main .visual_wrap .visual_bnr_wrap .bnr1 {
    background-image: url(../images/row1_bnr1.jpg);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr1 h2 {
    color:var(--color-white);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr1 p {
    color:var(--color-white);
}
/* --------------------2 배너 */
#wrap main .visual_wrap .visual_bnr_wrap .bnr2 {
    background-image: url(../images/row1_bnr2.jpg);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr2 h2 {
    color: var(--color-title-brown);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr2 p {}
/* ---------------------3 배너 */
#wrap main .visual_wrap .visual_bnr_wrap .bnr3 {
    background-image: url(../images/row1_bnr3.jpg);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr3 h2 {
    color: var(--color-title-green);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr3 p {}
/* ----------------------4 배너 */
#wrap main .visual_wrap .visual_bnr_wrap .bnr4 {
    background-image: url(../images/row1_bnr4.jpg);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr4 h2 {
    color: var(--color-title-coral);
}
#wrap main .visual_wrap .visual_bnr_wrap .bnr4 p {}
/* ------------------------------ 1행&2행 좌우 버튼 */
#wrap main .visual_wrap .prev_next_wrap,
#wrap main .news_notice_wrap .prev_next_wrap {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    padding: 25px 0; gap: 15px;
}
#wrap main .visual_wrap .prev_next_wrap a,
#wrap main .news_notice_wrap .prev_next_wrap a {}
#wrap main .visual_wrap .prev_next_wrap a img,
#wrap main .news_notice_wrap .prev_next_wrap a img {}
#wrap main .visual_wrap .prev_next_wrap .prev,
#wrap main .news_notice_wrap .prev_next_wrap .prev {}
#wrap main .visual_wrap .prev_next_wrap .next img,
#wrap main .news_notice_wrap .prev_next_wrap .next img {
    transform: scaleX(-1);
}
/* ------------------------------ 2행 시작 */
#wrap main .news_notice_wrap {
    padding: 80px 0 0;
    display: flex; flex-flow: column nowrap; align-items: center;
}
/* #wrap main .news_notice_wrap > * {border: 1px solid red;}
#wrap main .news_notice_wrap > *:nth-child(odd) {background-color: lightseagreen;} */
#wrap main .news_notice_wrap > h2 {
    font-size: var(--text-subtitle40); font-weight: var(--weight-bold);
    letter-spacing: var(--letter-minus2);
}
#wrap main .news_notice_wrap > p {
    color: var(--color-graya); line-height: var(--line-contents);
    margin: 20px 0 100px;
}
#wrap main .news_notice_wrap .card_wrap {
    width: var(--width-desktop);
    overflow: hidden;
}
#wrap main .news_notice_wrap .card_wrap .card_all {
    display: flex; flex-flow: row nowrap;
    width: max-content; gap: 65.33px;
}
#wrap main .news_notice_wrap .card_wrap .card_all li {
    width: 311px; height: 298px; border: 1px solid var(--color-grayd);
    position: relative; background-color: var(--color-white);
}
#wrap main .news_notice_wrap .card_wrap .card_all li:hover {
    border-color: var(--color-point);
}
#wrap main .news_notice_wrap .card_wrap .card_all li a {}
#wrap main .news_notice_wrap .card_wrap .card_all li a .photo {}
#wrap main .news_notice_wrap .card_wrap .card_all li a .photo img {width: 100%;}
#wrap main .news_notice_wrap .card_wrap .card_all li a h3 {
    line-height: var(--line-contents);
    padding: 20px 20px 0;
}
#wrap main .news_notice_wrap .card_wrap .card_all li .date {
    position: absolute; left: 20px; bottom: 19.5px;
    font-size: var(--text-sub14); color: var(--color-graya);
}
/* 뉴스 전체 보기 */
#wrap main .news_notice_wrap .view_all_btn {
    width: 200px; height: 48px; border: 1px solid var(--color-grayd);
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center; gap: 10px;
    margin:50px 0 0;
}
#wrap main .news_notice_wrap .view_all_btn img {}
#wrap main .news_notice_wrap .view_all_btn span {font-size: var(--text-sub14);}