/*popup*/
.popup {z-index:999;position:fixed; right:0; top:0; height:100vh; width:50px; text-align:center;}
.popup .page_num {
    position:absolute; width:70%; top:30%;
    display:flex; flex-flow:column wrap;
}
.popup .page_num span {color:#fff; padding:5px 0;}
.popup .page_num .current_num {}
.popup .page_num .all_num {border-top:1px solid #aaa;}
.popup .page_pst {position:absolute; width:100%; bottom:20px; display: flex; flex-flow: column wrap;}
.popup .page_pst a {}
.popup .page_pst a.page_top {}
.popup .page_pst a.page_btm {margin-top:-2px;}
/*header*/
header {
    position:fixed; left:0; top:0; width:100%; height:80px;
    background:rgba(0,0,0,0.2);
}
header .h_container {max-width:1200px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center; height: 100%;
    } 
header h1 {}
header h1 a {}
header h1 a img {}
header nav {}
header nav a {color:#fff; font-size:0.875rem; letter-spacing:-0.5px;}
header nav > ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header nav > ul > li {padding:0 10px; position:relative;}
header nav > ul > li > a {}
header nav > ul > li > .sub {
    position:absolute; 
    /* display:none */
    opacity: 0; /* 1 = 100% */
    transform: translateY(-80px);
    transition: opacity 0.5s, transform 1s;
}
header nav > ul > li:hover .sub {
    opacity: 1; 
    transform: translateY(0);
}
header nav > ul > li > .sub li {width:100px; padding: 10px 0 0;}
header nav > ul > li > .sub li a {}
header nav > ul > li > .sub li a:hover {color:#ddd;}
/*section*/
section {}
section .sec1 {background-image:url(../images/main_bg_01.jpg)}
section .sec2 {background-image:url(../images/main_bg_02_3.jpg)}
section .sec3 {background-image:url(../images/main_bg_03.jpg)}
section > div {
    background-size:cover; background-position:center; background-attachment: fixed;
    text-align:center; height:100vh; width:100%; 
    display:flex; flex-flow:column wrap; justify-content:center; color:#fff;
}
section > div:nth-child(2) {
    background-repeat:no-repeat;
    background-size:cover, cover;
    background-position:40% center, center;
}
section > div h1 {
    font-family: 'Pattaya', sans-serif;
    font-size:3.0em; line-height:1.5;
}
section > div p {font-size:0.875em; letter-spacing:-0.2px; line-height:1.7;}
/* 2번째 sec -> 애니메이션 공부 */
section .sec2 .container {
    margin: 0 auto; width: 1440px;
    position: relative;
    background: rgba(0,0,0,0.7);
}
section .sec2 .container h1 {position: relative; z-index: 100; color: #fff;}
section .sec2 .container h1+p {position: relative; z-index: 100; color: #fff;}
section .sec2 .container .space {position: absolute; top: 50%; transform: translateY(-50%); z-index: 90;}
section .sec2 .container .space img {}
section .sec2 .container .space1 {left: 0;}
section .sec2 .container .space1 img {animation: move100 1s 2s 6 alternate both;}
section .sec2 .container .space2 {right: 0;}
section .sec2 .container .space2 img {animation: rotate360 10s linear infinite;}
section .sec2 .container .space3 {left:50%; transform: translate(-50%, -50%);}
section .sec2 .container .space3 img {animation: hidden50 3s 3 linear both;}
/* 애니메이션 준비 1. keywords */
/* 애니메이션 준비 2. 적용 요소선택자 animation 속성으로 키프레임 불러오기 */
/* @keyframes 애니메이션 이름 {from~to 또는 0~100% 최소 2개 이상 장면 분기 */
@keyframes rotate360 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes move100 {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100px);}
}
@keyframes hidden50 {
    0% {opacity: 1; transform: translateX(-100px);}
    50% {opacity: 0.5; transform: scale(1.3) translateX(-150px);}
    100% {opacity: 0; transform: scale(1.6) translateX(-200px);}
}
/*footer*/
footer {
    position:fixed; left:0; bottom:0; height:100px;
    width:100%; color:#fff; font-size:0.875em; letter-spacing:-0.5px; padding:15px 0;
}
footer p {max-width:1200px; line-height:1.5; margin:0 auto;}